
      <div class="container-fluid">
        <div class="jumbotron" style="background-color:#000;">
        <div class="row">
        <div class="col-md-4 col-lg-2">
          <img src="images/PKY Industries.png" height="150" width="150"/>
          </div>
           <div class="col-md-6 col-lg-10">
          <h1 style="color:#fff; "><b>Submit New Request</b></h1>
          </div>
          <div class="col-md-2 col-lg-10">
          <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-toggle="modal" data-target="#changepwd-modal">Change Password</a></li>

            <li role="separator" class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#logout-modal">Logout</a></li>
          </ul>
        </div>
      </div>
            </div>
          </div>
          <br>
          <ol class="breadcrumb">
  <li><a ng-click="goHome()">Home</a></li>
  <li><a ng-click="goToReqCat()">Request Catalogue</a></li>
  <li class="active">Submit New Request</li>
</ol>
          </div>
        </div>

    <div class="container ">
      <div class="jumbotron" style="background-color:#ccc;">

        <form class="form-horizontal">
          <div class="row">
          <div class="form-group ">
            <div class="col-md-11 ">
            <label class="control-label" >Department</label>
            <select class="form-control dept">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              </select>
              <input type="text" class="newdept form-control " placeholder="Type in New Department name"style="display:none;" ng-model="department">
            </div>

            <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm adddept ">Add</button>
            <button type="button" class="btn btn-primary btn-sm submitdept " style="display:none;">Add It</button>
            <button type="button" class="btn btn-primary btn-sm useexistingdept " style="display:none;">Use Existing</button>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="form-group ">
            <div class="col-md-11 ">
            <label class="control-label" >Category</label>
            <select class="form-control cat">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              </select>
              <input type="text" class="newcat form-control " placeholder="Type in New Category name"style="display:none;" ng-model="sub_category">
            </div>

            <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-sm addcat ">Add</button>
            <button type="button" class="btn btn-primary btn-sm submitcat " style="display:none;">Add It</button>
            <button type="button" class="btn btn-primary btn-sm useexistingcat " style="display:none;">Use Existing</button>
            </div>
          </div>
        </div>
          <div class="form-group">
            <label class="control-label" >Request Title</label>
             <input type="text" class="newcat form-control " placeholder="Type in Title"style="display:none;" ng-model="title">
          </div>
          <div class="form-group">
          	<label class="control-label" >Request Details</label>
         	 <textarea class="form-control" rows="5" ng-model="detail"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Approval Required?</label>
            <select class="form-control"  ng-model="privilege_level">
              <option>0</option>
              <option>1</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Estimated Duration</label>
            <select class="form-control">
              <input type="number" class="newcat form-control " placeholder="ETA in Days"style="display:none;" ng-model="eta">
            </select>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-10 col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg" ng-click="addNewCat()">Submit</button>
            </div>
          </div>
          <p class="danger">{{error_message}}</p>
        </form>

	</div>

    </div> <!-- /container -->
<div class="modal" id="logout-modal" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <span class="glyphicon glyphicon-off"></span></h4></div>
      <div class="modal-body"><span class="glyphicon glyphicon-question-sign"></span> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a onclick="location.href='index.html';" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>

<div class="modal" id="changepwd-modal" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Change Password <span class="glyphicon glyphicon-lock"></span></h4></div>
      <div class="modal-body">
      <form>
      	<label>Enter New Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
        <label >Repeat New Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password Again" required>
       </form>
       </div>
      <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block">Change my Password</a></div>
    </div>
  </div>
</div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(".adddept").click(function() {
        // assumes element with id='button'
        $(".dept").toggle();
        $(".newdept").toggle();
        $(".adddept").toggle();
        $(".submitdept").toggle();
        $(".useexistingdept").toggle();
    });

        $(".useexistingdept").click(function() {
        // assumes element with id='button'
        $(".dept").toggle();
        $(".newdept").toggle();
        $(".adddept").toggle();
        $(".submitdept").toggle();
        $(".useexistingdept").toggle();
    });
        $(".submitdept").click(function() {
        // assumes element with id='button'
        $(".dept").toggle();
        $(".newdept").toggle();
        $(".adddept").toggle();
        $(".submitdept").toggle();
        $(".useexistingdept").toggle();
        $('.newdept').val('');
    });
        $(".addcat").click(function() {
        // assumes element with id='button'
        $(".cat").toggle();
        $(".newcat").toggle();
        $(".addcat").toggle();
        $(".submitcat").toggle();
        $(".useexistingcat").toggle();
    });

        $(".useexistingcat").click(function() {
        // assumes element with id='button'
        $(".cat").toggle();
        $(".newcat").toggle();
        $(".addcat").toggle();
        $(".submitcat").toggle();
        $(".useexistingcat").toggle();
    });
        $(".submitcat").click(function() {
        // assumes element with id='button'
        $(".cat").toggle();
        $(".newcat").toggle();
        $(".addcat").toggle();
        $(".submitcat").toggle();
        $(".useexistingcat").toggle();
        $('.newdcat').val('');
    });
  </script>
