<!--NewReq.html-->
    <div class="container-fluid">
        <div class="jumbotron" style="background-color:#000;">
        <div class="row">
        <div class="col-md-4 col-lg-2">
          <img src="images/PKY Industries.png" height="150" width="150"/>
          </div>
           <div class="col-md-6 col-lg-10">
          <h1 style="color:#fff; "><b>Submit New Request</b></h1>   
          </div>
          <div class="col-md-2 col-lg-10">
          <div class="pull-right">
          <!--Modal buttons under the hamburger-->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">  <!-- Hamburger Button Start-->
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><a data-toggle="modal" data-target="#changepwd-modal">Change Password</a></li> <!-- Change Password button-->
              <li role="separator" class="divider"></li> <!--Separation Line-->
              <li><a ng-click="logout()" data-target="#logout-modal">Logout</a></li> <!--Logout Button-->
            </ul>
          </div>
          <!--End of Modal buttons under the hamburger-->
      </div>
            </div>
          </div>   
          <br>
          <ol class="breadcrumb">
  <li><a ng-click="goHome()">Home</a></li>
  
  <li class="active">Submit New Request</li>
</ol> 
          </div>
        </div>
	
    <div class="container " ng-show="authenticated">
      <div class="jumbotron" style="background-color:#ccc;">
   	 <!-- <p>{{error_message}}</p>-->
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label">Department</label>
            <select class="form-control" ng-model="sr_department" ng-click="getCategories()" required>
              <option ng-repeat="department in departments">{{department.department}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" >Category</label>
            <select class="form-control" ng-model="sr_category" ng-click="getTitles()" required>
              <option ng-repeat="subcat in subcategories">{{subcat.subcategory}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" >Request Title</label>
            <select class="form-control" ng-model="sr_title" ng-click="getTitleDetails()" required>
              <option ng-repeat="title in titles">{{title}}</option>
            </select>
          </div>
          <Label class="control-label">Description: {{sr_detail}}</Label>
          <br>
          <label class="control-label">ETA: {{sr_eta}} Days</label>
          <br>
          <label class="control-label">Privilege Level: {{sr_privilege_level}}</label>
          <div class="form-group">
          	<label class="control-label" >Details</label>
         	 <textarea class="form-control" rows="5" ng-model="sr_desc" required></textarea>
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
            <div class="col-sm-offset-10 col-sm-10">
              <button type="submit" data-target="#confirm-submit" data-toggle="modal" class="btn btn-primary btn-lg" >Submit</button>
            </div>
          </div>
        </form>
        <label class="control-label">{{error_message}}</label>
        
	</div>

    </div> <!-- /container -->
     <div class="container" ng-show="!authenticated">
          <div class="col-md-4">
             <button type="button" ng-click="logout()" class="btn btn-primary btn-lg btn-block">Log In</button>
        </div>
        </div>



        <!--modal for confirming data-->
  <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
              <h4><span class="glyphicon glyphicon-floppy-saved"></span>    Confirm Submition</h4>
            </div>
            <div class="modal-body"><span class="glyphicon glyphicon-question-sign"></span>
                Are you sure you want to submit the following details?
                <br><br><br>
                <table class="table table-striped">
                    <tr>
                        <th>Department</th>
                        <td>{{sr_department}}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{sr_category}}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{sr_title}}</td>
                    </tr>
                    <tr>
                        <th>Details</th>
                        <td>{{sr_detail}}</td>
                    </tr>
                    <tr>
                        <th>ETA</th>
                        <td>{{sr_eta}}</td>
                    </tr>
                    <tr>
                        <th>Privilege Level</th>
                        <td>{{sr_privilege_level}}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{sr_desc}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="submit" class="btn btn-success success" data-dismiss="modal" ng-click="submitRequest()">Submit</button>

            </div>
        </div>
    </div>

</div>

        <!--end of modal for confirming data-->
    <!-- Change Password Modal Start-->
    <div class="modal fade" id="changepwd-modal" role="dialog" >
      <div class="modal-dialog modal-sm ">
        <div class="modal-content">
          <div class="modal-header"><h4>Change Password <span class="glyphicon glyphicon-lock"></span></h4></div>
          <div class="modal-body">
            <form>
              <label>Enter New Password</label>
              <input type="password" id="inputPassword" class="form-control" ng-model="password" placeholder="New Password" required>
              <label >Repeat New Password</label>
              <input type="password" id="inputPassword" class="form-control" ng-model="repeatPassword" placeholder="New Password Again" required>
            </form>
          </div>
          <label>{{passError}}</label>
          <div class="modal-footer"><button type="submit" ng-click="chPass(password, repeatPassword)" class="btn btn-primary btn-block">Change my Password</a></div>
        </div>
      </div>
    </div>

    <!-- Change Password End-->