<!--UserEdit.html-->
     <div class="container-fluid">
        <div class="jumbotron" style="background-color:#000;">
        <div class="row">
        <div class="col-md-4 col-lg-2">
          <img src="images/PKY Industries.png" height="150" width="150"/>
          </div>
           <div class="col-md-6 col-lg-10">
          <h1 style="color:#fff; "><b>Edit User</b></h1>   
          </div>
          <div class="col-md-2 col-lg-10">
          <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#" data-toggle="modal" data-target="#changepwd-modal">Change Password</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#logout-modal" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
            </div>
          </div>  <br>
          <ol class="breadcrumb">
  <li><a ng-click="goHome()">Home</a></li>
  <li><a ng-click="goUserList()">Manage Users</a></li>
  <li class="active">Edit User</li>
</ol> 
          </div> 
        </div>



  <div class="container" ng-show="authenticated">
    <div class="jumbotron" style="background-color:#ccc;">
    

      <form ng-submit="editUser()">
        <label>First Name: </label>
        <input required type="text" class="form-control" placeholder="First Name" required ng-model="user.first_name"><br>
        <label>Last Name: </label>
        <input requied type="text" class="form-control"  placeholder="Last Name" required ng-model="user.last_name"><br>
        <label >Username: {{user.username}}</label>
        <br><br>
        <label >Department:</label>
        <select required class="form-control" ng-model="user.department">
              <option>Administration</option>
              <option>Information Technology</option>
              <option>Procurement</option>
              <option>Sales and Marketing</option>
              <option>Logistics</option>
            </select><br>
        <label>Privilege Level: {{user.privilege}}</label>
        <select required class="form-control" ng-model="user.privilege">
              <option>0</option>
              <option>1</option>
        </select><br>
        <label>Service Provision: {{user.provider}}</label>
        <select required class="form-control" ng-model="user.provider">
              <option>0</option>
              <option>1</option>
        </select><br>
        <br>
          <h3 class="text-danger">{{error_message}}</h3>
          <button type="submit" class="btn btn-primary ">Edit User Record</button>

       </form>


        <label >Password:</label>
        <input type="password" class="form-control" placeholder="Password" required ng-model="user.password"><br>
        <button class="btn btn-primary" ng-click="resetPassword()">Reset Password</button>


      </div>
        <button class="btn btn-primary" ng-click="delUser()">DELETE USER</button>

    </div> <!-- /container -->



          <div class="container" ng-show="!authenticated">
          <div class="col-md-4">
             <button type="button" ng-click="logout()" class="btn btn-primary btn-lg btn-block">Log In</button>
        </div>
        </div>
    
    <!------------ modal ---------------
  -->
<div class="modal" id="logout-modal" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <span class="glyphicon glyphicon-off"></span></h4></div>
      <div class="modal-body"><span class="glyphicon glyphicon-question-sign"></span> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a onclick="location.href='index.html';" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>

<div class="modal" id="changepwd-modal" role="dialog" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Change Password <span class="glyphicon glyphicon-lock"></span></h4></div>
      <div class="modal-body">
      <form>
        <label>Enter New Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
        <label >Repeat New Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="New Password Again" required>
       </form>
       </div>
      <div class="modal-footer"><a href="javascript:;" class="btn btn-primary btn-block">Change my Password</a></div>
    </div>
  </div>
</div>